@page "/"

<PageTitle>STOP THE TILTON HOLIDAY PARK</PageTitle>

<h1>STOP THE TILTON HOLIDAY PARK!</h1>

<img src="images/landingimage.jpg" />
@*
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@

<div>Digital Ocean hosted</div>

<style>
    body {
        text-align: center; /* Centers the content of the page */
        /* margin-top: 10px; */ /* Adds some space at the top of the page */
    }

    img {
        width: 70%; /* Adjusts the width of the image */
        height: auto; /* Keeps the aspect ratio of the image */
        margin-top: 20px; /* Adds some space above the image */
    }
</style>
