@page "/legal-objection-letter"

<style>
    .pdf-container {
        width: 100%;
        height: 100vh; /* Adjust this value as needed */
        overflow: hidden;
    }
</style>

<p>
    If you would like to download the PDF, click <a href="files/AardvarkPlanningLaw2400396e2.pdf" download="AardvarkPlanningLaw2400396e2.pdf">here</a>.
</p>

<div class="pdf-container">
    <embed src="files/AardvarkPlanningLaw2400396e2.pdf" type="application/pdf" width="100%" height="100%">
</div>
