@page "/usefullinks"

<p>
    <a href="https://www.facebook.com/share/L5au2iauR4Qfb2u9/?mibextid=LQQJ4d" target="_blank">Facebook - Stop the ‘Not So’ Eco Village</a>
</p>
<p>
    <a href="https://www.harborough.gov.uk/view-and-comment-on-planning-applications" target="_blank">Harborough planning site - view and comment on applications</a>
</p>
<p>
    <a href="https://www.gofundme.com/f/legal-costs-to-save-our-landscape?qid=357ff97f237bbb208d100d79e1413f27" target="_blank">Fundraiser for Colin Ellard by Ollie Barton : Legal Costs to save our Community (gofundme.com)</a>
</p>

